<div class="container">
    <table class="table" style="width: 500px;">
        <tr>
            <td>User Rating</td>
            <td>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td colspan="2">
                <button class="btn btn-primary">Submit</button> &nbsp;
                <button class="btn btn-primary" (click)="edit()">Edit</button> &nbsp;
                <button class="btn btn-primary">Delete</button>
            </td>
        </tr>
    </table>
</div>